{
  "root": true,
  "env": {
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:vue/vue3-recommended",
    "plugin:prettier/recommended",
    // "plugin:tailwindcss/recommended",
    "prettier"
  ],
  "parserOptions": {
    "ecmaVersion": 13,
    "sourceType": "module"
  },
  "rules": {
    "no-console": 0,
    "vue/require-default-prop": "off",
    "vue/multi-word-component-names": "off"
  },
  "plugins": [
    "vue",
    "prettier",
    // "tailwindcss"
  ]
}